		* {
			margin: 0;
			padding: 0;
		}
		#main {
			position: relative;
		}
		#main:after {
			content: ".";
			display: block;
			height: 0;
			visibility: hidden;
			clear: both;		
		}
		.box {
			padding: 10px 10px;
			float: left;
		}
		.pic {
			border: 1px solid #ccc;
			border-radius: 10px;
			box-shadow: 0 0 6px #ccc;
			padding: 10px;
		}
		.pic img {
			width: 200px;
			height: auto;
		}